.menu {
    display: flex;
    justify-content:  center;
    align-items:  center;
    height: 100vh;
    font-family: 'Title', 'Roboto', 'sans-serif';
}

.menu__list {
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:  50%;
    font-size: 18px;
}

.menu__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-bottom: 50px;
    border: 2px solid #000000;
    transition: all 0.15s ease-in-out;
}

.menu__item:hover {
    border-color: #f0141e;
}
.menu__item:hover .menu__link {
    color: #f0141e;
    background-color: transparent;
}

.menu__link {
    height: 100%;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 1.5rem;
}